<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SPL Web design</title>
    <meta name="description" content="">
    <meta name="author" content="Augusto Roccasalva <augusto@rocctech.com.ar>">
    <meta name="viewport" content="width=device-with,initial-scale=1">

    {%- assets "style_bundle" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" media="screen">
    {%- endassets %}
    <link rel="stylesheet" href="/static/css/jquery.custom-scrollbar.css" type="text/css" media="screen">
    <!-- page-specific style -->
    {%- block css %}{% endblock %}
    <!-- end page-specific style -->
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {%- assets "modernizr_bundle" %}
    <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}
  </head>

  <body>
    <div id="wrapper">
      <header>
        <nav class="appbar">
          <ul>
            <li><a href="#"><span>Fibra</span></a></li>
            <li class="selected"><a href="#"><span>SPL</span></a></li>
            <li><a href="#"><span>Clientes</span></a></li>
            <li><a href="#"><span>Inventario</span></a></li>
            <li><a href="#"><span>Email</span></a></li>
          </ul>
        </nav>
        <div id="banner">
        </div>
      </header>

      <div id="page" class="clearfix">
        <aside>
          <header>
            <div class="title">
              <span>Proveedores</span>
            </div>
          </header>
          <div class="content">
            <div class="action">
              <button class="btn btn-danger">Nuevo Proveedor</button>
            </div>
            <nav class="sidenav">
              <ul>
                <li class="nav-header active">
                <div class="caret open">
                  <span role="link" title="Ocultar etiqueta: Todos ({{ db.Supplier.find().count() }})"></span>
                </div>
                <div>
                  <span>
                    <a href="#">Todos ({{ db.Supplier.find().count() }})</a>
                  </span>
                </div>
                </li>
                <li class="sub">
                <div>
                  <span>
                    <a href="#">Mercaderías ({{ db.Supplier.find().count() }})</a>
                  </span>
                </div>
                </li>
                <li class="sub">
                <div>
                  <a href="#">Fletes (0)</a>
                </div>
                </li>
                <li class="sub">
                <div>
                  <a href="#">Insumos (0)</a>
                </div>
                </li>
                <li class="sub">
                <div>
                  <a href="#">Servicios (0)</a>
                </div>
                </li>
              </ul>
              <div class="divider"></div>
              <ul>
                <li class="nav-header">Otros criterios</li>
                <li>
                <div>
                  <a href="#">Facturas vencidas</a>
                </div>
                </li>
                <li>
                <div>
                  <a href="#">Pedidos en curso</a>
                </div>
                </li>
              </ul>
            </nav>
          </div>
        </aside>
        <section id="main">
          <div class="toolbar clearfix">
            <div class="btn-group">
              <a href="#" class="btn">Test button</a>
            </div>
            <div class="btn-group pull-right">
              <a href="#" class="btn disabled">Close session</a>
            </div>
            <div class="btn-group pull-right">
              <a href="#" class="btn" disabled>&lt;</a>
              <a href="#" class="btn">&gt;</a>
            </div>
          </div>
          <!-- div id="content_wrapper">
            <div id="scroll_wrapper" -->
              <div id="content" class="gray-skin">
                <table id="suppliers-list" class="list">
                  <colgroup>
                    <col class="col0" style="width: 2px;">
                    <col class="col1" style="width: 30px;">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                    <col class="col5">
                  </colgroup>
                  <tbody>
                    {% for supplier in db.Supplier.find().limit(40).sort("name") %}
                    <tr>
                      <td></td>
                      <td>
                        <label class="checkbox inline-control">
                          <input id="supplier:{{ supplier._id }}" type="checkbox">
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <span class="name">{{ supplier.name }}</span>
                      </td>
                      <td>
                        <span class="email">{{ supplier.email }}</span>
                      </td>
                      <td>
                        <span class="phone">{{ supplier.phone }}</span>
                      </td>
                      <td></td>
                    </tr>
                    {% else %}
                    <tr><td colspan="6" class="no-data-message"><span>No hay proveedores cargados.</span></td></tr>
                    {% endfor %}
                  </tbody>
                </table>
                <footer>
                  <span class="copy-notice">&copy;2013&nbsp;Rocctech</span>
                  -
                  <a target="_blank" href="http://www.rocctech.com.ar/">Condiciones</a>
                  -
                  <a target="_blank" href="http://www.rocctech.com.ar/">Políticas de privacidad</a>
                </footer>
              <!-- /div>
            </div -->
          </div>
        </section>
      </div>

    </div>

    <!-- JavaScript at the bottom for fast page loading -->
    {%- assets "js_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets %}

    <script type="text/javascript">
      $(function() {
        $('#content').customScrollbar();      
      });
    </script>

    <!-- page-specific script -->
    {%- block js %}{% endblock %}
    <!-- end page-specific script -->

  </body>
</html>

{# vim: ft=html.jinja:sw=2
#}
