<!DOCTYPE html>
<html>
  <head>
    <title>SPL for bussiness</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="screen">
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="/static/js/jquery-1.9.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/backbone-min.js"></script>
  </body>
</html>

{# vim: ft=html.jinja:sw=2
#}
