<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SPL for bussiness</title>
    <meta name="description" content="">
    <meta name="author" content="Augusto Roccasalva <augusto@rocctech.com.ar>">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {%- assets "style_bundle" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" media="screen">
    {%- endassets %}
    <!-- page-specific style -->
    {%- block css %}{% endblock %}
    <!-- end page-specific style -->
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {%- assets "modernizr_bundle" %}
    <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}
  </head>

  <body>

    <div id="wrapper">
      <header>
        <nav class="appbar">
          <ul>
            <li><a href="#"><span>Fibra</span></a></li>
            <li class="selected"><a href="#"><span>SPL</span></a></li>
            <li><a href="#"><span>Inventario</span></a></li>
            <li><a href="#"><span>Clientes</span></a></li>
            <li><a href="#"><span>Email</span></a></li>
          </ul>
        </nav>
        <div id="banner"></div>
      </header>
      <div id="page" class="clearfix">
        <aside>{% block sidebar %}{% endblock %}</aside>

        <section id="main">
          <div class="toolbar clearfix">{% block toolbar %}{% endblock %}</div>
          <div id="content_wrapper">
            <div id="scroll_wrapper">
              <div id="content">
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- underscore templates -->
    <!-- end underscore templates -->

    <!-- javascript at the bottom for fast page loading -->
    {%- assets "js_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {%- endassets %}

    <!-- page-specific script -->
    {%- block js %}{% endblock %}
    <!-- end page-specific script -->

  </body>
</html>

{# vim: ft=html.jinja:sw=2
#}
