
{% macro render_alpha_pagination(p, field='name') %}    
{%- if p.pages > 1 %}
<div class="pager pull-right">
  <div class="pages">
    <span>{{ p.items[0][field].split()[0] }}</span>
    -
    <span>{{ p.items[-1][field].split()[0] }}</span>
  </div>
  <div class="btn-group">
    <button name="prev-page" data-target="{{ url_for(request.endpoint, page=p.prev_num, per_page=p.per_page if p.per_page != 25 else None) if p.has_prev else '#' }}" rel="tooltip" title="Anterior" data-placement="bottom" class="btn-thin"{% if not p.has_prev %} disabled{% endif %}><i class="icon-chevron-left"></i></button>
    <button name="next-page" data-target="{{ url_for(request.endpoint, page=p.next_num, per_page=p.per_page if p.per_page != 25 else None) if p.has_next else '#'}}" rel="tooltip" title="Siguiente" data-placement="bottom" class="btn-thin"{% if not p.has_next %} disabled{% endif %}><i class="icon-chevron-right"></i></button>
  </div>
</div>
{%- endif %}
{% endmacro %}


{% macro render_pagination() %}
<div class="pager pull-right hide">
  <div class="pages">
    <span class="first"></span>&nbsp;-&nbsp;<span class="last"></span>
  </div>
  <div class="btn-group">
    <button name="prev-page" rel="tooltip" title="Anterior" data-placement="bottom" class="btn-thin">
      <i class="icon-chevron-left"></i>
    </button>
    <button name="next-page" rel="tooltip" title="Siguiente" data-placement="bottom" class="btn-thin">
      <i class="icon-chevron-right"></i>
    </button>
  </div>
</div>
{% endmacro %}


{% macro render_app_section() %}
<div class="title dropdown">
  <span class="dropdown-toggle" data-toggle="dropdown">{{ request.current_section }} <i class="icon-caret-down"></i></span>
  <ul class="dropdown-menu" role="menu">
    {%- for current, section_index, title in request.sections %}
    {%- if not section_index %}
    <li><a tabindex="-1" href="#" disabled>{{ title }}</a></li>
    {%- else %}
    <li{% if current %} class="current"{% endif %}><a tabindex="-1" href="{{ url_for(section_index) }}">{{ title }}</a></li>
    {%- endif %}
    {%- endfor %}
  </ul>
</div>
{% endmacro %}


{% macro render_footer() %}
<footer>
  <span class="copy-notice">&copy;2013&nbsp;Rocctech</span>
  -
  <a target="_blank" href="http://www.rocctech.com.ar">Condiciones</a>
  -
  <a target="_blank" href="http://www.rocctech.com.ar">Políticas de Privacidad</a>
</footer>
{% endmacro %}

{# vim: ft=html.jinja:sw=2
#}
