{% extends "layout.html" %}
{% from "macros.html" import render_footer %}
{% from "macros.html" import render_app_section with context %}

{%- block sidebar %}
<header>
  {{ render_app_section() }}
</header>
<div class="content">
  <div class="action">
    <button class="btn btn-danger">Nuevo Proveedor</button>
  </div>
  <div class="sidenav">
  </div>
</div>
{%- endblock %}

{%- block content %}

<div class="edit-layout">
  <div class="edit-head">
    <div class="edit-left-panel">
      <div class="edit-row">
        <div class="edit-row-title">
          <div id="avatar"></div>
        </div>
        <div class="edit-row-value">
          <input type="text" name="name" spellcheck="false" class="big noborder autogrow" placeholder="Añade un nombre"/>
        </div>
      </div>
    </div>
    <div class="edit-right-panel">
      <div class="edit-row">
        <span>Esto es un espectaculo.</span>
      </div>
    </div>
  </div>

  <div class="edit-body">
    <div class="edit-left-panel">
      <div class="edit-row">
        <div class="edit-row-title">
          <span>Teléfono</span>
        </div>
        <div class="edit-row-value">
          <input type="text" name="phone" spellcheck="false" class="autogrow voidable"/>
        </div>
      </div>
      <div class="edit-row">
        <div class="edit-row-title">
          <span>Email</span>
        </div>
        <div class="edit-row-value">
          <input type="text" name="email" spellcheck="false" class="autogrow voidable"/>
        </div>
      </div>
      <div class="action-row">
        <button>Añadir</button>
      </div>
    </div>
    <div class="edit-right-panel">
      <textarea class="note bordered" name="note" spellcheck="false" placeholder="Añade una nota"></textarea>
    </div>
  </div>

</div>

{{ render_footer() }}
{%- endblock %}

{# vim: ft=html.jinja:sw=2
#}
