/*
 * Aside style
 */

aside {
  float: left;
  width: $asideWidth;

  header {
    margin-left: 9px;
    padding: 4px 16px 15px 1px;

    .title {
      color: $asideTitleColor;
      font-size: $asideTitleFontSize;
      padding: 0 7px;
      .icon-caret-down {
        font-size: 14px;
      }
    }

  }

  .action {
    margin-left: 16px;
    padding: 0 4px 8px 0;
  }
}
