/*
 * Form controls definitions
 */

/* start inline-controls checkboxes */
label.inline-control {
  padding: 0px;
  line-height: 15px;
  min-height: 15px;
  margin-left: 7px;
  position: relative;

  input {
    cursor: default;
  }
}

input[type="checkbox"] {
  margin: 3px 0;
  line-height: normal;
  height: 14px;
  width: 14px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  margin-left: 1px;

  &:checked + span::before {
    background-position: -4px -23px;
  }

  & + span::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 0 1px;
    @include border-radius(1px);
    vertical-align: middle;
    border: 1px solid $inputBorder;
    @include box-shadow(0 0 1px 0 #ccc inset);
    background: url("/static/img/sprite.png") no-repeat scroll -2px -2px white;
  }

  &:hover + span::before {
    border-color: $inputHoverBorder;
  }

  &:focus + span::before {
    border-color: $inputFocusedBorder;
  }
}

input[type="text"],
textarea {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: $white;
  color: #222;
  font-size: 13px;
  font-family: Arial,sans-serif;
  margin: 1px;
  padding: 1px 2px;
  min-width: 40px;
  display: inline-block;
  @include border-radius(1px);

  &.void,
  &.bordered {
    border-color: #c0c0c0 #d9d9d9 #d9d9d9 #d9d9d9;
  }

  &:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    @include box-shadow(0 1px 2px rgba(0,0,0,0.1) inset);
  }

  &:focus {
    outline: 0;
    @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.3));
    @include border-radius(1px);
    border-color: #4d90fe;
  }

  &.big {
    font-size: 20px;
    height: 24px;
    padding: 2px 3px;
  }
}

::-webkit-input-placeholder { color: #777; }
::-moz-placeholder { color: #777; }
:-ms-input-placeholder { color: #777; }
input:-moz-placeholder { color: #777; }
textarea:-moz-placeholder { color: #777; }

textarea {
  height: 100%;
  width: 100%;
  @include box-sizing(border-box);
  resize: none;

  &.note {
    padding: 10px;
  }
}

// Edit form layout

.edit-layout {
  margin-top: 12px;
  margin-bottom: 10px;
  margin-right: 3px;

  & > div {
    width: 100%;
    @include clearfix();
  }

  .edit-head {
    margin-top: 12px;
  }

  .edit-body {
    border-top: 1px solid #e4e4e4;
    margin-top: 25px;
    padding-top: 25px;
  }

  .edit-left-panel,
  .edit-right-panel {
    float: left;
    width: 50%;
    @include clearfix;
  }

  .edit-left-panel {
    padding-right: 17px;
  }

  .edit-right-panel {
    padding-left: 17px;
  }

  .edit-row {
    @include clearfix;
    line-height: 21px;
    margin-top: 5px;


    .edit-row-title,
    .edit-row-value {
      float: left;
    }
    .edit-row-title {
      width: 102px;
      margin-right: 29px;
      text-align: right;
      color: #777;
    }
    .edit-row-value {
    }
  }

  .action-row {
    text-align: center;
    padding-top: 10px;
    .btn-group {
      display: inline-block;
    }
  }
}

#avatar {
  height: 102px;
  background-color: #eee;
}
