<div class="btn-group">
  <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><label class="checkbox inline-control"><input id="select_all" type="checkbox"><span></span></label><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Action 1</a></li>
    <li><a href="#">Action 2</a></li>
    <li><a href="#" disabled>Action 3</a></li>
    <li><a href="#">Action 4</a></li>
    <li class="divider"></li>
    <li><a href="#">Crear nuevo grupo ...</a></li>
    <li><a href="#">Editar grupos ...</a></li>
  </ul>
</div>
<div class="btn-group">
  <button rel="tooltip" title="Test Button 1" name="btn-test1">T1</button>
  <button rel="tooltip" title="Test Button 2" name="btn-test2">Test 2</button>
</div>
<div class="btn-group">
  <button name="button-more" class="dropdown-toggle" data-toggle="dropdown">Más <i class="icon-caret-down"></i></button>
  <ul class="dropdown-menu">
    <li><a id="remove-supplier">Eliminar proveedor</a></li>
    <li class="divider"></li>
    <li><a id="export-supplier">Exportar...</a></li>
    <li><a id="import-supplier">Importar...</a></li>
  </ul>
</div>
<div class="btn-group pull-right">
  <button id="settings" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-cog"></i><b class="caret"></b>
  </button>
  <ul class="dropdown-menu">
    <li><span>Densidad de visualización:</span></li>
    <li><a href="#">Normal (en pantallas más grandes)</a></li>
    <li><a href="#">Cómoda (en pantallas más grandes)</a></li>
    <li><a class="checked" href="#">Compacta</a></li>
    <li class="divider"></li>
    <li><a href="#">Configuración</a></li>
    <li><a href="#">Temas</a></li>
    <li><a href="#">Enviar comentarios</a></li>
    <li><a href="#">Ayuda</a></li>
  </ul>
</div>
<div class="btn-group pull-right">
  <a href="#" class="btn btn-primary">Guardar ahora</a>
</div>
<div class="btn-group pull-right">
  <button name="prev-page" class="btn-thin" title="Anterior" disabled><i class="icon-chevron-left"></i></button>
  <button name="next-page" class="btn-thin" title="Siguiente"><i class="icon-chevron-right"></i></button>
</div>
